<h5>Cadastro de Produtos</h5>

<br/>

<form>
    <div class="row">
        <div class="col-md-4">

            <select class="form-select" aria-label="Default select example">
                <option selected>Tipo Produto</option>
                <option value="1">Jogos</option>
                <option value="2">Console</option>
              </select>

            <label>Nome:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Ano de Lancamento:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Data de Compra:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Preco:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>          
            <label>Preco:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Imagem:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Console:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Fabricante:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <!--Criar uma logica onde se selecionar o tipo do produto amostra o formulario de um ou de outro -->

        </div>
    </div>
</form>