<table class="table table-bordered table-hover table-stripped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Senha</th>
            <th>Nome</th>
            <th>Cpf</th>
            <th>Telefone</th>
            <th>Data de nascimento</th>
            <th>Cep</th>
            <th>Logradouro</th>
            <th>Bairro</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Numero</th>            
            <th>Tipo Acesso</th>            
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
    </tbody>

    <tfoot>
        <tr>
            <td colspan="7">
                Quantidade de clientes
            </td>
        </tr>
    </tfoot>
</table>