<h5>Cdastro de clientes</h5>

<br/>

<form>
    <div class="row">
        <div class="col-md-4">
            <label>Email:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Senha:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Confirme a senha:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Nome:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Cpf:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Telefone:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Data de Nascimento:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Cep :</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Logradouro:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Bairro:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Cidade:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Estado:</label>
            <input type="text" class="form-control" placeholder="Digite aqui">
            <br/>
            <label>Numero</label>
            <input type="text" class="form-control" placeholder="Digite aqui">

        </div>
    </div>
</form>